/* This file can be the main css file for all componentes; it can be also in single files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto:wght@100;300&display=swap");

.navbar {
  font-family: "Roboto", sans-serif;
  background-color: #e64b3c;
}

.nav-text {
  font-family: "Architects Daughter", cursive !important;
  margin-left: 30px;
  color: #b4d4d9 !important;
  font-size: 300% !important;
}

.nav-link {
  color: #b4d4d9 !important;
  font-size: larger;
}
.about-text {
  padding-top: 180px;
  font-size: larger;
  color: #6d6f72;
  line-height: 180%;
  padding-right: 50px;
}

.about-text-inside {
  font-weight: bolder;
}
.backgroundImage {
  background-image: url("../public/images/Foto_sw.jpg");
  background-repeat: no-repeat;
  background-position: right;
  opacity: 45%;
  min-height: calc(100vh - 200px);
}

.footer {
  background-color: #b4d4d9;
}

.form {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #6d6f72;
  font-size: larger;
  min-height: calc(100vh - 200px);
  display: flex;
}

.message {
  color: #e64b3c;
  font-weight: bolder;
}

.button {
  background-color: #e64b3c !important;
  border: #e64b3c !important;
  color: #b4d4d9 !important;
  font-size: large !important;
}

.image {
  max-width: 30%;
}

.card-title {
  color: #6d6f72;
  padding: 10px;
  margin-bottom: 0% !important;
  font-size: large !important;
}

.card-description {
  color: #6d6f72;
  padding: 10px;
  font-size: large !important;
  /* margin-bottom: 0% !important; */
}

.card-link {
  color: #6d6f72;
  padding: 10px;
}

.icons {
  margin-left: 50px;
  color: #e64b3c;
}

.card {
  display: inline;
  min-height: calc(100vh - 200px);
}
